---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Heatmap from '../components/Heatmap.astro';
---

<Layout title="ALO Hackclub">
	<main>
		<Heatmap/>
	</main>
</Layout>
