---
import Layout from '../layouts/Layout.astro';
import UpcomingHachathons from '../components/UpcomingHackathons'
import Heatmap from '../components/Heatmap'
---

<Layout title="ALO Hackclub">
    <style>
      .calendar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      
    </style>
    <main>
      <div class="calendar-container">
        <div id="cal-heatmap" class="calendar" style="box-shadow: inset 0px 0px 18px -1px rgb(0, 0, 0); padding: 1em;"></div>
        <Heatmap client:only/>
      </div>
	  <h1>Nadchodzące hackathony</h1>
      <div class='upcoming-hackathons' id='scrollable-div'>
          <UpcomingHachathons client:load/>
      </div>
    </main>
    
</Layout>