---
import Layout from '../layouts/Layout.astro';
import UpcomingHachathons from '../components/UpcomingHackathons'
---

<Layout title="ALO Hackclub">
    <style>
      .calendar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      
    </style>
    <main>
      <div class="calendar-container">
        <div id="cal-heatmap" class="calendar"></div>
      </div>
      <script src="../components/Heatmap.tsx"/>
	  <h1>Nadchodzące hackathony</h1>
      <div class='upcoming-hackathons' id='scrollable-div'>
          <UpcomingHachathons client:load/>
      </div>
    </main>
    
</Layout>