<div class="calendar-container">
    <div id="cal-heatmap" class="calendar"></div>
</div>
<script >
  import 'cal-heatmap/cal-heatmap.css';
  import { render } from 'astro/compiler-runtime';
  const CalHeatmap = require('cal-heatmap');
  const cal = new CalHeatmap();
  cal.paint({
    range: 24,
    domain: {
      type: 'month',
      padding: [20,0,30,0],
      gutter: -15,
      label: {
        text: 'MMM YYYY',
      }
    },
    subDomain: {
      type: 'day',
      width: 15,
      height: 15
    },
    date: {
      start: new Date(new Date().getFullYear(), 1, 1),
      min: new Date(new Date().getFullYear()-2, 1, 1),
      max: new Date(new Date().getFullYear()+2, 0, 31),
    },
    data: {
      x: 'start'
    }
  });
  render(cal, document.getElementById('cal-heatmap'));
  const data = await fetch('https://hackathons.hackclub.com/api/events/all', {mode: "cors"}).then((response) =>
  response.json()
);
  cal.fill(data);
</script>
<style>
  .calendar-container {
    display: flex;
    justify-content: center;
  }

  .calendar {
  }
</style>
